.navbar{
    background: red !important;
}
.title{
    width: 100% !important;
    text-align: center !important;
}
.item-after{
    text-align: right;
    height: 100%;
}

.item-title{
    width: 60%;
    font-size: 16px;
    color: #8e8e93;
}

.item-content .card-content {
    width: 100%;
}

.badge.notRated {
    background-color: #ffffff;
    border: 1px solid #ae9c9c;
    color: #ae9c9c;
}

.md .badge,
.ios .badge,
span.badge {
    font-size: 18px;
    border-radius: 20px;
    padding: 0 6px;
    height: 20px;
    line-height: 20px;
}

#bSHolder,
#r8Holder{
    width: 95%;
    margin: auto;
    margin-top: 10%;
}

.r8Content{
    margin: auto;
    padding-left: 2%; 
}

.r8Card .card-header p {
    margin: unset;
    text-align: center;
    width: 98%;
    margin: auto;
    font-size: 250%;
    font-weight: bold;
    color: #8e8e93;
}

.bSCard, .r8Card{
    height: unset;
    margin: 5%;
    box-shadow: 1px 3px red, 0 1px 2px gray!important;
    border-radius: 8px;
}

#addComplaint {
    margin-left: 90%;
    margin-top: 2%;
}

#addComplaint a{
    height: 38px;
    width: 38px;
}
.md .list {
    margin: unset;
    font-size: unset;
}

.md .list .item-after {
    color: #ff0000a3;
    font-size: 130%;
    padding-left: 8px;
}

.md .card {
    box-shadow: -2px 0px 3px rgba(239, 66, 66, 0.78), 0 1px 2px #282829c2;;
}

.popover.smart-select-popover.modal-in.popover-on-bottom{
    border-radius: 20px;
    box-shadow: 1px 4px rgba(89, 16, 16, 0.12), 0 2px 8px rgba(181, 17, 17, 0.24)!important;
    border: 2px solid #9005058c;
}

#slctBodySystem {
    width: 95%;
    margin: auto;
    max-width: 850px;
}

#transDisplay {
    width: 98%;
    margin: auto;
    max-width: 1500px;
}

.indent {
    width: 95%;
    margin-left: auto;
}

.center {
    width: 95%;
    margin: auto;
}

.accordion-item.accordion-item-opened {
    padding-bottom: 3%;
}

.btnHolder {
    width: 90%;
    margin: auto;
    margin-top: 3%;
}

button {
    padding: 1%;
    width: 100%;
    border-radius: 5px;
    background: #ff0000d9;
    color: white;
}